body {
  background: linear-gradient(135deg, #e0f7fa, #ffd1dc);
  font-family: "Comic Sans MS", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 25px;
  width: 420px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

textarea {
  width: 100%;
  height: 80px;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
}

button {
  margin-top: 10px;
  background: #ff69b4;
  color: white;
  border: none;
  padding: 14px;
  width: 100%;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

img {
  margin-top: 15px;
  width: 100%;
  border-radius: 20px;
}
